# Build output
Debug/
Release/
*.elf
*.bin
*.hex
*.map
*.lst
*.o
*.d
*.su
*.cyclo
*.dep

# STM32CubeIDE / Eclipse IDE
.metadata/
*.launch
RemoteSystemsTempFiles/

# STM32CubeMX backup files
*.bak

# Python
*venv*
__pycache__

# Windows
Thumbs.db
desktop.ini
